TrafficMonitor/obj/Debug/App.baml
TrafficMonitor/obj/Debug/App.g.cs
TrafficMonitor/obj/Debug/GeneratedInternalTypeHelper.g.cs
TrafficMonitor/obj/Debug/MainWindow.g.cs
TrafficMonitor/obj/Debug/TrafficMonitor_MarkupCompile.cache
TrafficMonitor/obj/Debug/TrafficMonitor_MarkupCompile.i.cache
TrafficMonitor/obj/Debug/TrafficMonitor_MarkupCompile.i.lref
TrafficMonitor/obj/Debug/TrafficMonitor_MarkupCompile.lref
TrafficMonitor/bin/
TrafficMonitor/obj/
TrafficMonitor.v12.suo
TrafficMonitor.v12.suo